@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Fuzzy+Bubbles&family=Delius&display=swap");

body {
  background: linear-gradient(
      rgba(254, 247, 237, 0.8),
      rgba(254, 247, 237, 0.8)
    ),
    url("/assets/background.jpg");
  background-size: 650px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  font-family: Delius;
  align-items: center;
  justify-content: center;
}

.container {
  background: linear-gradient(
      rgba(255, 250, 245, 0.85),
      rgba(255, 250, 245, 0.85)
    ),
    url("/assets/paper.jpg");
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 25px;
  text-align: center;
  font-family: "Coming Soon", cursive;
}

hr {
  height: 1px;
  width: 100%;
  background: hsl(30, 4%, 47.3%);
  border: none;
}

.notebook {
  margin: 30px 0px;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  font-family: "Fuzzy Bubbles", cursive;
  height: 150px;
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 1.6;
  outline: none;
  resize: none;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

button#submit {
  font-family: "Delius";
  margin: auto;
  background: #a87849;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button#submit:disabled {
  background: #ccc;
  cursor: not-allowed;
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
}

a#github-btn {
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  }
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid #333;
  color: black;
  font-size: 14px;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(30, 65.4%, 72.3%);
  gap: 10px;
  z-index: 40;
}

div#loading-overlay.hidden {
  display: none;
}

.loader {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, hsl(30, 65.4%, 67.3%) 94%, #0000) top/4px 4px
      no-repeat,
    conic-gradient(#0000 30%, hsl(30, 65.4%, 67.3%));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
